<h1 class="text-center">Articles listing page</h1>
<%= render 'articles' %>
<div class="container">
    <div class="row justify-content-center" id="new-btn">
        <div class="col-12 mt-4" id="full-btn">
            <%= link_to 'New article', new_article_path, class: "btn btn-primary btn-lg" %>
        </div>
    </div>
</div>