<h1 class="text-center">About</h1>
<div class="container mt-4" id="about-container">
    <div class="jumbotron bg-white card shadow-sm text-center">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This blog is my first Ruby on Rails project.</p>
      <hr class="my-4">
      <p>To see more of my work, click on the button below:</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="http://sophiebonneval.com/" target="_blank" role="button">My portfolio</a>
      </p>
    </div>
</div>