@import 'bootstrap/dist/css/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap');

html,
body {
    height: 100%;
}

.navbar {
    background-color: #343a40 !important;
}

.nav-link {
    color: #e0e0e0 !important;
}

.nav-link:hover,
.nav-link:active {
    color: #ffffff !important;
}

.navbar-dark .navbar-brand {
    color: #ffffff !important;
    padding-right: 0.25rem !important;
    font-weight: bold !important;
}

.navbar-nav .nav-link {
    padding-left: 0.75rem !important;
}

#home-container {
    max-width: 1320px;
}

#home-container > .bg-dark {
    background-image: url("https://images.unsplash.com/photo-1483982258113-b72862e6cff6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") !important;
}

#about-container {
    max-width: 900px;
}

.col-auto, .col-md-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.p-md-5 {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

@media only screen and (min-width: 768px) {
    .col-md-6 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .p-md-5 {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}

footer > .container {
    text-align: center;
}

#page-content {
    background-color: #f0efef;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

#full-btn > .btn {
    width: 100% !important;
}

.blog-post-title {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: 600;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
}

.row > .col-12 {
    max-width: 46rem;
}

.dropdown-menu > .nav-link {
    color: rgb(0, 0, 0) !important;
}