<h1 class="text-center">Categories</h1>

<div class="container" id="categories-container">
    <% @categories.each do |category| %>
        <div class="row justify-content-md-center" id="article">
            <div class="col-12 mt-4">
                <div class="card text-center shadow-sm">
                  <div class="card-body">
                    <h5 class="card-title mt-3"><%= link_to category.name, category %></h5>
                  </div>
                  <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(category.created_at) %> ago</small>
                  </div>
                </div>
            </div>
        </div>
    <% end %>
    <div class="flickr_pagination mt-4">
        <%= will_paginate @users, :container => false %>
    </div>
</div>
<% if logged_in? && current_user.admin? %>
    <div class="container" id="categories-container">
        <div class="row justify-content-center" id="new-btn">
            <div class="col-12 mt-4" id="full-btn">
                <%= link_to 'New category', new_category_path, class: "btn btn-primary btn-lg" %>
            </div>
        </div>
    </div>
<% end %>