<footer id="sticky-footer" class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Copyright &copy <%= link_to "Sophie Bonneval", "http://sophiebonneval.com/", class: "text-muted" %></span>
  </div>
</footer>